
<html>
<head>
    <title>Html-Qrcode Demo</title>
<body>
<div id="qr-reader" style="width: 600px"></div>

<div id="qr-reader-results">Some</div>

<p id="demo">Этот текст будет заменен.</p>

<decodedText></decodedText>

</body>



</head>
</html>