
<html>
<head>

<body>


	







<div  id="qr-reader"></div>



<div id= "overlay">
<h2  style="float:left" class="neonText3">372</h1> 
<h1  style="float:right" class="neonText2">50</h1> <br/>
<p  style="float:left" id="demo" class = "neonText3"></p>
</div>

<div class="wrapper">
  <div>
<button style="float: left;" class="buttonred button5">FR</button>
<button style="float: right;" class="buttonblue button5">UP</button>
</div>
<div>
<button style="float: left;" class="buttongreen button5">BK</button>
<button style="float: right;" class="buttonblue button5">DO</button>
</div>
</div>






</body>



</head>
</html>