 .neonText1 {
    color: #fff;
    text-shadow:
      0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #d8d331, 0 0 82px #efe249, 0 0 92px #f3d04f, 0 0 102px #f9f57a, 0 0 151px #e2ba5f
  }

   .neonText2 {
    color: #fff;
    text-shadow:
      0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #d8d331, 0 0 82px #efe249, 0 0 92px #f3d04f, 0 0 102px #f9f57a, 0 0 151px #e2ba5f
  }
   .neonText3 {
    color: #fff;
    text-shadow:
      0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #d8d331, 0 0 82px #efe249, 0 0 92px #f3d04f, 0 0 102px #f9f57a, 0 0 151px #e2ba5f
  }


/* Additional styling */
  
body {
  font-size: 18px;
  font-family: "Vibur", sans-serif;
  background-color: #010a01;
  background-image: url(/img/wall.jpeg);
  background-size: contain;
  background-position: center;
}  

h1, h2 {
  
  font-weight: 400;
  line-height: 1;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  width: 200px;
  box-shadow:0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #dec445, 0 0 0.8rem #e2b570, 0 0 2.8rem #dec445, inset 0 0 1.3rem #dec445
}

h3 {
  
  
    font-weight: 100;
    line-height: 1;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    width: 200px;
    height: 70px;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #5bde45, 0 0 0.8rem #5bde45, 0 0 2.8rem #5bde45, inset 0 0 1.3rem #5bde45;
}

h2 {
  
  font-weight: 400;
  line-height: 1;
}

p {
  
  font-weight: 400;
  line-height: 1;
}
p {
    font-size: 4.2rem;
    animation: pulsate 0.11s ease-in-out infinite alternate;     
}
  
h1 {
    font-size: 5.2rem;
    animation: pulsate 0.11s ease-in-out infinite alternate;     
}

h2 {
    font-size: 5.2rem;
    animation: pulsate 0.11s ease-in-out infinite alternate;     
}

h3{ 
    font-size: 4.0rem;
    animation: pulsate 0.11s ease-in-out infinite alternate; 

}