 .neonText1 {
    color: #fff;
    text-shadow:
      0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #d8d331, 0 0 82px #efe249, 0 0 92px #f3d04f, 0 0 102px #f9f57a, 0 0 151px #e2ba5f
  }

   .neonText2 {
    color: #fff;
    text-shadow:
      0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #d8d331, 0 0 82px #efe249, 0 0 92px #f3d04f, 0 0 102px #f9f57a, 0 0 151px #e2ba5f
  }
   .neonText3 {
    color: #fff;
    text-shadow:
     0 0 7px #16739c, 0 0 10px #fff, 0 0 21px #0a577f, 0 0 42px #072c40, 0 0 82px #1991b9, 0 0 92px #0a3546, 0 0 102px #158eb6, 0 0 151px #076488
  }

 .neonText4 { color: #fff;
text-shadow:
     0 0 7px #9c1652, 0 0 10px #fff, 0 0 21px #7f0a0a, 0 0 42px #cb234f, 0 0 82px #b91919, 0 0 92px #460a1b, 0 0 102px #b63315, 0 0 151px #884b07

 }
/* Additional styling */
  
body {
  font-size: 18px;
  font-family: "Vibur", sans-serif;
  background-color: #010a01;
  background-image: url(/img/wall.jpg);
  background-size: contain;
  background-position: center;
}  

h1, h2 {
  
  font-weight: 400;
  line-height: 1;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  width: 200px;
  border: hidden;
/*box-shadow:0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #dec445, 0 0 0.8rem #e2b570, 0 0 2.8rem #dec445, inset 0 0 1.3rem #dec445*/
}

h3 {
  
  
    font-weight: 100;
    line-height: 1;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    width: 200px;
    height: 70px;
    box-shadow: 0 0 7px #16739c, 0 0 10px #fff, 0 0 21px #0a577f, 0 0 42px #072c40, 0 0 82px #1991b9, 0 0 92px #0a3546, 0 0 102px #158eb6, 0 0 151px #076488;
}

h2 {
  
  font-weight: 400;
  line-height: 1;
}

p {
  
  font-weight: 400;
  line-height: 1;
}
p {
    font-size: 4.2rem;
    animation: pulsate 0.11s ease-in-out infinite alternate;     
}
  
h1 {
    font-size: 5.2rem;
    animation: pulsate 0.11s ease-in-out infinite alternate;     
}

h2 {
    font-size: 5.2rem;
    animation: pulsate 0.11s ease-in-out infinite alternate;     
}

h3{ 
    font-size: 4.0rem;
    animation: pulsate 0.11s ease-in-out infinite alternate; 

}


